{% apply inline_css %}
    <style>

        :root {
            font-family: sans-serif;
        }
       
        .host-name, .recipient-name, .sender-name {
            font-weight: bold;
        }

    </style>

    <h1>Hello <span class="sender-name">{{ sender.name }}</span> !</h1>

    <p>
        You have been invited by <span class="host-name">{{ host.name }}</span> to a party called "{{ event.name }}"
    </p>

    <p>
        {{ host.name }} wanted you to know this :
    </p>

    <p>
        "{{ event.comment }}"
    </p>

    <p>
        The event will take place at {{ event.place }} the {{ event.date|date("m/d/Y") }} and the amount for the gifts is {{ event.amount }} $.
    </p>

    <p>
        Also, you've picked <span class="recipient-name">{{ recipient.name }}</span>. We are sure that you'll find an awesome present !
    </p>
{% endapply %}