{% apply inline_css %}
    <style>

        :root {
            font-family: sans-serif;
        }
       
        .host-name, .recipient-name, .sender-name {
            font-weight: bold;
        }

    </style>

    <h1>Hello <span class="sender-name">{{ sender.name }}</span> !</h1>

    {% if sender.name is same as(host.name) %}
        <p>
            You've picked <span class="recipient-name">{{ recipient.name }}</span>. We are sure that you'll find an awesome present !
        </p>
    {% else %}
        <p>
            You have been invited by <span class="host-name">{{ host.name }}</span> to a party called "{{ event.name }}"
            {% if event.date is not empty %}
                the {{ event.date|date("m/d/Y") }}
            {% endif %}

            {% if event.place is not empty %}
                at {{ event.place }}
            {% endif %}

            {% if event.amount is not empty %}
                and the amount for gifts is {{ event.amount }} $
            {% endif %}
            .
        </p>

        {% if event.comment is not empty %}
            <p>
                {{ host.name }} has a message for you :
            </p>
        
            <p>
                "{{ event.comment }}"
            </p>
        {% endif %}

        <p>
            Also, you've picked <span class="recipient-name">{{ recipient.name }}</span>. We are sure that you'll find an awesome present !
        </p>

        <p>
            Create your own secret santa random draw <a href="{{ url('home') }}">here</a> !
        </p>
    {% endif %}

{% endapply %}