<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Secret Santa{% endblock %}</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <header>
            <a href="{{ path('home') }}">
                <img id="secret-santa-img" src="{{ asset('assets/images/secret-santa.png') }}" alt="secret santa">
            </a>
            <h1 class="title">
                <a href="{{ path('home') }}">Secret Santa</a>
            </h1>
            <p class="description">
                The best way to plan your party and randomly assigned participants a person to give a gift !
            </p>
        </header>
        <main>

            
            {% block body %}{% endblock %}

        </main>
        <footer>
            <ul class="links">
                <li>
                    <a href="#">legal</a>
                </li>
                <li>
                    <a href="#">share</a>
                </li>
                <li>
                    <a href="#">contact</a>
                </li>
            </ul>
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
